.button {
    padding: 20px 40px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    background-color: #ff2121;
    box-shadow: 3px 3px 0 0 #d30404;
    cursor: pointer;
    transition: box-shadow .3s ease;

    &:hover {
        box-shadow: 0 0 0 0 #d30404;
    }
}
